
/*
 * CSS file for Chrome extension
 * BuzzwordReader
 * content-js
 */

#__float-div__ {
	position: fixed;
  z-index: 999;
}

#__result-div__ {
	position: fixed;
	display: none;
	/*width: 200px;
	padding: 10px 8px;
	color: white;
	background-color: #455a64;*/
  /*z-index: 999;*/
	background-color: white;
}

html, body, iframe {
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
}

body {
  background-color: transparent;
	font-size: 100%;
}

#search {
	padding-left: 8px;
}

#search-icon {
	top: 8px;
}

#close-btn {
	position: fixed;
	right: 20px;
	top: 18px;
}

#back-btn {
	position: fixed;
	left: 20px;
	top: 18px;
	cursor: pointer;
}

h5.entry-title {
	margin-bottom: 0px;
}

p.note {
	font-size: 100%;
	color: gray;
}

.chip .like-icon {
	float: right;
	font-size: 32px;
	line-height: 32px;
	padding-left: 8px;
}

/*
 * 组件过渡css
 */
 .component-fade-enter-active, .component-fade-leave-active {
   transition: opacity .3s ease;
 }
 .component-fade-enter, .component-fade-leave-to
 /* .component-fade-leave-active for below version 2.1.8 */ {
   opacity: 0;
 }
