
/*
 * CSS file for Chrome extension
 * BuzzwordReader
 * content-js
 */

#__float-div__ {
	position: fixed;
  z-index: 999;
}

#__result-div__ {
	position: fixed;
	display: none;
	/*width: 200px;
	padding: 10px 8px;
	color: white;
	background-color: #455a64;*/
  z-index: 999;
}
