html, body {
	margin: 0;
	padding: 0;
	/* height: 100%; */

}

body{
	background-color: rgba(1,1,1,0);
}


#cas{
	/* width: 100%;
	height: 100%; */
	z-index : -2;
	position : fixed;
}


#icons-order{
	align-items: right;
	vertical-align: center;
 }

 #main-page{
	 display: none;
 }

 #first-page-title{
	 font-size: 850%;
 }

 #first-page{
	 padding-top: 100px;
 }

 #first-page-search{
	 margin-top: 100px;
 }

 #main-page-search-results{
	 display: none;
 }

 /*body {
   font-size: 100%;
 }*/

img.responsive-img {
   height: 100%;
   width: auto;
 }

header, main, footer {
    padding-left: 300px;
}

.div-otherinte p,.div-otherinte span{
	font-size: 150%;
}

.card-inte-title{
	font-size: 145%;
}

#trun-to-email,#phone-login-div{
	display: none;
}

#entry-inte-top{
	margin:0px 0px 10px 0px;
		font-size: 140%;
}

#option-title{
	vertical-align: center;
	font-size: 680%;
}

.top-title{
	font-size: 175%;
}

.chip-dislike{
	position: relative;
	top: 15px;
}

.myclose{
	float: left;
	font-size: 32px;
	line-height: 32px;
}

.other-close{
	/* float: left; */
	font-size: 32px;
	line-height: 20px;
}

.other-inte-report{
	font-size: 32px;
	line-height: 32px;
}

.like-number{
 font-size: 18px;
 line-height: 32px;
}

.myclose{
	vertical-align: center;
}

.badge{
	font-size: 75%;
}

.entry-top{
	margin:0px 0px 0px 30px;
}

.top-add-inte,.top-inte-report{
	position: relative;
	top: 20px;
}

.report-card-pass{
	font-size: 150%;
}

#page-footer{
	position: relative;
	top: 200px;
	font-size: 120%;
	color: #78909c ;
}

.footer-icon{
	color: #009688;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (min-width: 993px) {
  .container {
      width: 85%;
  }
}
