#icons-order{
	align-items: right;
	vertical-align: center;
 }

 /*body {
   font-size: 100%;
 }*/

 img.responsive-img {
   height: 100%;
   width: auto;
 }

header, main, footer {
    padding-left: 300px;
}

.card-inte-title{
	font-size: 145%;
}

#trun-to-email,#phone-login-div{
	display: none;
}

#entry-inte-top{
	margin:0px 0px 10px 0px;
		font-size: 140%;
}

#option-title{
	vertical-align: center;
	font-size: 680%;
}

.top-title{
	font-size: 175%;
}

.chip-dislike{
	position: relative;
	top: 15px;
}

.myclose{
	float: left;
	font-size: 32px;
	line-height: 32px;
}

.other-close{
	font-size: 32px;
	line-height: 32px;
}

.like-number{
 font-size: 18px;
 line-height: 32px;
}

.myclose{
	vertical-align: center;
}

.badge{
	font-size: 75%;
}

.entry-top{
	margin:0px 0px 0px 30px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (min-width: 993px) {
  .container {
      width: 85%;
  }
}
