#icons-order{
	align-items: right;
	vertical-align: center;
 }

 /*body {
   font-size: 100%;
 }*/

 img.responsive-img {
   height: 100%;
   width: auto;
 }

header, main, footer {
    padding-left: 300px;
}

#trun-to-email,#phone-login-div{
	display: none;
}

#subheading{
	font-size: 200%;
	position: relative;
	right: 160px;
	bottom: 30px;
}

#entry-meaning-top{
	margin:0px 0px 10px 0px;
		font-size: 140%;
}

.badge{
	font-size: 75%;
}

.entry-top{
	margin:0px 0px 0px 30px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (min-width: 993px) {
  .container {
      width: 85%;
  }
}
