body{
	width: 500px;
}

p,span,#collection-username{
	font-size: medium;
}

#meaning-source{
	font-size: 90%;
}

h1{
	font-size: 280%;
}

span{
	font-size: 150%;
}

#buzzword{
	font-size: 280%;
}

#entry-page{
	background: #bbdefb;
}

.divider{
	margin: 1px;
}

#title{
	margin: 1px;
}

#entry-modal{
	display: none;
}

#search-modal{

}

#results-div{

}

#result-not-found{
	display: none;
}

#add-entry02{
	position: relative;
	bottom: 12px;
}

#add-meaning02{
	position: relative;
	bottom: 14px;
	left:30px;
}

#return-search02{
	position: relative;
	bottom: 14px;
	left: 23px;
}

#result-collection{
	display: none;
}

.collection-item{
	font-size: medium;
}

#meaning-not-found{
	display: none;
}

#meaning-daytime{
	font-size: 90%;
}

.like{
	font-size: 130%;
}

.other-meaning-source,.other-meaning-daytime{
	font-size: 90%;
}

 .like-number{
	font-size: 18px;
	line-height: 32px;
}

.myclose{
	float: left;
	font-size: 32px;
	line-height: 32px;
}

#login-popup-modal{
	display: none;
}

.chip{

}

#dislike-chip{
	position: relative;
	top: 15px;
}
